aside#progressbar {
    filter:alpha(opacity=50);
}

aside#progressbar > div {
    filter:alpha(opacity=70);
}

.outerzone {
    filter:alpha(opacity=50);
}

.zone {
    background: white;
    filter:alpha(opacity=100);
}
