/** Main viewer styles */
html, body, section {
    height: 100%;
}

section {
    overflow: hidden;
}

header, nav {
    background: url(../images/bar.png) top left repeat-x;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 5000;
    color: white;
    text-align: center;
    vertical-align: middle;
}

header {
    top:0;
}

h1 {
    margin: .2em 0;
}

nav {
    bottom: 0;
    height: 31px;
}

#viewer {
    width: 100%;
    min-height: 100%;
    position: relative;
    margin: 0;
}
