/** === Main viewer styles */
html, body, section, #pviewer {
    height: 100%;
    font-family: "Cantarell", Verdana, Arial, sans-serif;
    background: #000;
}

#pviewer {
    position: absolute;
    height: 100%;
    width: 100%;
    top; 0;
    left: 0;
    min-height: 100%;
}

section {
    overflow: hidden;
}

header, aside {
    background: url(../images/bar.png) top left repeat-x;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10;
    color: white;
    text-align: center;
    vertical-align: middle;
}

header {
    top:-1px;
    height: 36px;
    z-index: 8;
}

h1 {
    margin: .4em 0;
}

#viewer {
    width: 100%;
    min-height: 100%;
    position: relative;
    margin: 0;
}

#image_formats {
    position: absolute;
    left: .5em;
}
/** /Main viewer styles */

/** === Series navigation */
nav {
    top: 50%;
    margin-top: -18px;
    width: 100%;
    position:absolute;
}
nav a {
    display: inline-block;
    position: absolute;
    z-index: 5;
    background-repeat: no-repeat;
    background-image: url(../images/nav.png);
    background-position:top left;
    width: 36px;
    height: 36px;
    overflow: hidden;
    text-indent: 40px;
}

#previmg {
    left: 0;
}

#previmg:hover {
    background-position:bottom left;
}

#nextimg {
    right: 0;
    background-position:top right;
}

#nextimg:hover {
    background-position:bottom right;
}

#series_pos {
    position: absolute;
    top: .5em;
    right:.5em;
    font-weight: bold;
    font-size: 0.85em;
}
/** /Series navigation */

/** === Common toolbar */
aside {
    bottom: 0;
    height: 31px;
    cursor: default;
}

aside li {
    display: inline-block;
    width: 29px;
    height: 29px;
    margin-top: 1px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

aside li:hover {
    background-color: black!important;
}

#thumbnails {
    background-image: url(../images/buttons/thumbs.png);
}

#zoomin {
    background-image: url(../images/iviewer/iviewer.zoom_in.gif);
}

#zoomout {
    background-image: url(../images/iviewer/iviewer.zoom_out.gif);
}

#fullsize {
    background-image: url(../images/iviewer/iviewer.zoom_zero.gif);
}

#fitsize {
    background-image: url(../images/iviewer/iviewer.zoom_fit.gif);
}

#lrotate {
    background-image: url(../images/iviewer/iviewer.rotate_left.png);
}

#rrotate {
    background-image: url(../images/iviewer/iviewer.rotate_right.png);
}

#fullscreen {
    background-image: url(../images/buttons/fullscreen.png);
    background-position: 8px 7px;
}

#zoominfos {
    font: 1em/28px Sans;
    color: #fff;
    text-align: center;
    width: 60px;
    vertical-align: 20%
}
/** /Common toolbar */

/** === Progress bar */
aside#progressbar {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
}

aside#progressbar > div {
    height: 60px;
    position: absolute;
    top: 50%;
    left:0;
    right: 0;
    margin: -30px auto 0;
    color: black;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    width: 1%;
    min-width: 18em;
}

aside#progressbar > div > p {
    padding-top: 1em;
    font-size: .85em;
}
/** /Progress bar */

/** Overview */
.navcontainer {
  /*position: absolute;*/
  float:right;
  z-index: 5;
  text-align: center;
  background: transparent;
  /*top: 35px;
  right: 10px;*/
  margin: 35px 10px 0 0;
}
.navcontainer .toolbar {
  height: 8px;
  cursor: move;
  width: 100%;
  opacity: 0.8;
  /* Cross browser CSS gradients from http://www.colorzilla.com/gradient-editor/ */
  background: #a9aba6; /* Old browsers */
  background: -moz-linear-gradient(top, #a9aba6 0%, #c0c2be 22%, #d5d5d2 33%, #e2e1dd 44%, #ededed 56%, #bebec1 67%, #c3c3c2 78%, #a1a4a0 89%, #878686 100%) repeat-x; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9aba6), color-stop(22%,#c0c2be), color-stop(33%,#d5d5d2), color-stop(44%,#e2e1dd), color-stop(56%,#ededed), color-stop(67%,#bebec1), color-stop(78%,#c3c3c2), color-stop(89%,#a1a4a0), color-stop(100%,#878686)) repeat-x; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a9aba6 0%,#c0c2be 22%,#d5d5d2 33%,#e2e1dd 44%,#ededed 56%,#bebec1 67%,#c3c3c2 78%,#a1a4a0 89%,#878686 100%) repeat-x; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a9aba6 0%,#c0c2be 22%,#d5d5d2 33%,#e2e1dd 44%,#ededed 56%,#bebec1 67%,#c3c3c2 78%,#a1a4a0 89%,#878686 100%) repeat-x; /* Opera11.10+ */
  background: -ms-linear-gradient(top, #a9aba6 0%,#c0c2be 22%,#d5d5d2 33%,#e2e1dd 44%,#ededed 56%,#bebec1 67%,#c3c3c2 78%,#a1a4a0 89%,#878686 100%) repeat-x; /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#6f706d',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #a9aba6 0%,#c0c2be 22%,#d5d5d2 33%,#e2e1dd 44%,#ededed 56%,#bebec1 67%,#c3c3c2 78%,#a1a4a0 89%,#878686 100%) repeat-x; /* W3C */
}

.navcontainer .toolbar:hover { opacity: 1.0 }

.navwin {
  font-size: 90%;
  left: 0;
  font-weight: bold;
  text-align: left;
  border: 1px outset red;
  border: none;
  top: 10px;
  z-index: 5;
  opacity: 0.9;
  width: 100%;
  height: auto;
}

.navwin img { border: 0; width: 100%; height: 100% }
.navwin .zone {
  background: #888;
  border: 2px solid yellow;
  cursor: move;
  z-index: 6;
  opacity: 0.4;
}
/** /Overview */

/** Thumbnails */
#thumbnails_view {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    z-index: 9;
    overflow: auto;
    text-align: center;
}

#thumbnails_view a {
    display: inline-block;
    margin: .5em;
    padding: .3em;
    text-align:center;
    vertical-align: middle;
    background-color: rgba(255,255,255,0.5);
    border-radius: 6px;
}

#thumbnails_view a.current {
    box-shadow: 0 0 3px rgba(255, 0, 0, .6);
}

#thumbnails_view a:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

#thumbnails_view a img {
    vertical-align: middle;
}
/** Thumbnails */
