/** === Main viewer styles */
html, body, section, #pviewer {
    height: 100%;
    font-family: "Cantarell", Verdana, Arial, sans-serif;
    background: #000;
}

#pviewer {
    position: absolute;
    height: 100%;
    width: 100%;
    top; 0;
    left: 0;
    min-height: 100%;
}

section {
    overflow: hidden;
}

header, aside {
    background: url(../images/bar.png) top left repeat-x;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 5;
    color: white;
    text-align: center;
    vertical-align: middle;
}

header {
    top:-1px;
    height: 36px;
}

h1 {
    margin: .4em 0;
}

#viewer {
    width: 100%;
    min-height: 100%;
    position: relative;
    margin: 0;
}
/** /Main viewer styles */

/** === Serial navigation */
nav {
    top: 50%;
    margin-top: -18px;
    width: 100%;
    position:absolute;
}
nav a {
    display: inline-block;
    position: absolute;
    z-index: 10;
    background-repeat: no-repeat;
    background-image: url(../images/nav.png);
    background-position:top left;
    width: 36px;
    height: 36px;
    overflow: hidden;
    text-indent: 40px;
}

#previmg {
    left: 0;
}

#previmg:hover {
    background-position:bottom left;
}

#nextimg {
    right: 0;
    background-position:top right;
}

#nextimg:hover {
    background-position:bottom right;
}
/** /Serial navigation */

/** === Common toolbar */
aside {
    bottom: 0;
    height: 31px;
    cursor: default;
}

aside li {
    display: inline-block;
    width: 29px;
    height: 29px;
    margin-top: 1px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

aside li:hover {
    background-color: black!important;
}

#zoomin {
    background-image: url(../images/iviewer/iviewer.zoom_in.gif);
}

#zoomout {
    background-image: url(../images/iviewer/iviewer.zoom_out.gif);
}

#fullsize {
    background-image: url(../images/iviewer/iviewer.zoom_zero.gif);
}

#fitsize {
    background-image: url(../images/iviewer/iviewer.zoom_fit.gif);
}

#lrotate {
    background-image: url(../images/iviewer/iviewer.rotate_left.png);
}

#rrotate {
    background-image: url(../images/iviewer/iviewer.rotate_right.png);
}

#fullscreen {
    background-image: url(../images/buttons/fullscreen.png);
    background-position: 8px 7px;
}

#zoominfos {
    font: 1em/28px Sans;
    color: #fff;
    text-align: center;
    width: 60px;
    vertical-align: 20%
}
/** /Common toolbar */

/** === Progress bar */
aside#progressbar {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
}

aside#progressbar > div {
    height: 60px;
    position: absolute;
    top: 50%;
    left:0;
    right: 0;
    margin: -30px auto 0;
    color: black;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    width: 1%;
    min-width: 18em;
}

aside#progressbar > div > p {
    padding-top: 1em;
    font-size: .85em;
}
/** /Progress bar */
