<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% trans "Bach Viewer" %} - {{ img }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/styles/reset.css"/>
        <!--[if lte IE 8]>
            <script src="/scripts/html5-ie.js"></script>
            <script type="text/javascript">
                var _isOldIE = true;
            </script>
            <link rel="stylesheet" href="/styles/ie.css"/>
        <![endif]-->
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block precontent %}{% endblock %}
        {% block content %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
