<ul>
    {% if series %}
    <li id="thumbnails" title="{% trans "Show thumbnails" %}">
    {% endif %}
    {# rotation is buggy for IIP, see https://github.com/ruven/iipmooviewer/issues/13 #}
    {% if not iip %}
    <li id="lrotate" title="{% trans "Rotate 90 degrees by left" %}">
    <li id="rrotate" title="{% trans "Rotate 90 degrees by right" %}">
    {% endif %}
    <li id="zoomout" title="{% trans "Zoom out" %}">
    <li id="zoominfos">
    {% if ((picture.hasFormat('full') and picture.hasFormat('default')) or series) and not(iip)%}
    {% if displayHD == false %}<li id="hidef" data-state="off" title="{% trans %}Switch to high resolution image{% endtrans %}"><span class="userinfo">{% trans %}Want a better quality?<br/>Get the high resolution version!{% endtrans %}<span class="inner"></span></span></li>{% else %}<li id="hidef" data-state="on" class="on" style="display:none;"><span class="userinfo">{% trans %}Want a better quality?<br/>Get the high resolution version!{% endtrans %}<span class="inner"></span></span></li>{%endif%}{% endif %}<li id="zoomin" title="{% trans "Zoom in" %}">
    <li id="fitsize" title="{% trans "Fit image to screen" %}">
    <li id="fullsize" title="{% trans "Show full size image" %}">
    {% if not iip %}
        {% if comment %}
    <li id="comments" title="{% trans "Show related comments" %}">
        {% endif %}
        {% if print and picture.canPrint() %}
    <li id="print" title="{% trans "Print image as currently displayed" %}">
        {% endif %}
        {% if contrast and picture.canContrast() or brightness and picture.canBrightness() or negate and picture.canNegate() %}
    <li id="moreparams" title="{% trans "Adjust image parameters" %}">
        {% endif %}
        {% if series %}
    <li id="lockparams" class="off" title="{% trans "Lock image parameters" %}">
        {% endif %}
    {% endif %}
    <li id="infosRemote" title="{% trans "Show related informations"%}">
</ul>
